on init
    mkdir /data/misc/keystore 0700 keystore keystore
    mkdir /data/misc/keystore2 0700 keystore keystore
    mkdir /data/misc/keystore2/ce 0700 keystore keystore
    mkdir /data/misc/keystore2/de 0700 keystore keystore
    mkdir /data/misc/keystore2/shared 0700 keystore keystore

on post-fs-data
    chmod 0700 /data/misc/keystore
    chmod 0700 /data/misc/keystore2
    chmod 0700 /data/misc/keystore2/ce
    chmod 0700 /data/misc/keystore2/de
    chmod 0700 /data/misc/keystore2/shared

service keystore2 /system/bin/keystore2
    class main
    user keystore
    group keystore
    capabilities DAC_OVERRIDE
    socket keystore_socket stream 0666 keystore keystore
    socket keystore2_socket stream 0666 keystore keystore

service keymint_server /system/bin/keymint_server
    class main
    user keystore
    group keystore
    socket keymint_socket stream 0666 keystore keystore

service gatekeeper-1-0 /system/bin/android.hardware.gatekeeper@1.0-service
    class hal
    user system
    group system
